
<link href="https://global.oktacdn.com/okta-signin-widget/3.1.3/css/okta-sign-in.min.css" type="text/css"
  rel="stylesheet" />
<button mat-raised-button color="primary" routerLink="/"> Home </button>
<button mat-raised-button color="primary" *ngIf="!isAuthenticated" (click)="login()"> Login </button>
<button mat-raised-button color="primary" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
<button  mat-raised-button color="primary" *ngIf="isAuthenticated" (click)="profile()"> Proile </button>
<!-- <button routerLink="/protected"> Protected </button> -->
<router-outlet></router-outlet>