<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                <div class="header-location"><i class="fa fa-home"></i> <a href="#">Oldwashermanpet, Chennai</a></div>
                <div class="header-email"><i class="fa fa-envelope-o"></i> <a
                        href="mailto:support@email.com">b2balaji@gmail.com</a></div>
                <div class="header-phone"><i class="fa fa-phone"></i> <a href="#">+91 9940553779</a></div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="header-social pull-right">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div> -->
        </div>
    </div>
</div>