<!-- booking component -->
<div class="relative">
  <div id="logins" style="right: -7px;top: -44px;">
    <div id="loginpop" class="fixed-login-popup-new-1024" [style]='showToggleDesc'>
      <div style="position:relative; text-align:right;">
        <div><a href="https://www.tamilmatrimony.com/matrimony-mobile-apps?gaact=MOBITVAPPS&amp;gasrc=TOPNAV"
            target="_blank"><img height="18" width="63" border="0" alt="" class="valign"
              src="https://imgs.tamilmatrimony.com/bmimgs/trans.gif"></a>&nbsp;&nbsp;<a
            href="https://www.tamilmatrimony.com/matrimony-mobile-apps?gaact=MOBITVAPPS&amp;gasrc=TOPNAV"
            target="_blank"><img height="18" width="127" border="0" alt="" class="valign"
              src="https://imgs.tamilmatrimony.com/bmimgs/trans.gif"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
            style="padding:6px 17px 0px 0px; display: inline-block;">Login</b>
          <form name="Login" method="post" action="https://profile.tamilmatrimony.com/login/memlogin.php" style="">
            <!--  -->
            <input type="hidden"
              value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36|Windows-10|Chrome-80.0.3987.132|adfe36ab176774ff4a397ebe3c1018d7|"
              name="fpDT" id="fpDT">
            <div class="relative" style="text-align:left; padding:35px 14px; width: 234px;">
              <div class="relative"><b>Matrimony ID</b> or <b>Mobile Number</b>or <b>E-mail</b></div>
              <div class="relative paddt2"><input type="text" onkeydown="this.style.color='#000';"
                  onblur="if (this.value == '') { this.value = 'ID / E-mail / Mobile Number';this.style.color='#999'; }"
                  onfocus="if (this.value == 'ID / E-mail / Mobile Number') { this.value = ''; }"
                  onclick="if (this.value == 'ID / E-mail / Mobile Number') { this.value = ''; }"
                  value="ID / E-mail / Mobile Number" name="ID" id="ID" class="fixed-txtBox clr3"
                  style="width: 220px; color: rgb(153, 153, 153);" autocomplete="off" tabindex="1"></div>
              <div class="paddb8">
                <!-- -->
              </div>
              <div class="relative boldtxt">Password</div>
              <div class="relative"><input type="password" onkeydown="this.style.color='#000';"
                  onblur="if (this.value == '') { this.value = 'password';this.style.color='#999';}"
                  onfocus="$('#ID').removeClass('errorbg').addClass('fixed-txtBox'); if (this.value == 'password') { this.value = ''; }"
                  onclick="if (this.value == 'password') { this.value = ''; }" name="PASSWORD" id="PASSWORD"
                  value="password" maxlength="20" class="fixed-txtBox clr3 PASSWORD2" style="width:220px;" tabindex="2"
                  autocomplete="off"></div>
              <div class="paddb5">
                <!-- -->
              </div>
              <input type="HIDDEN" value="HP" name="dLT" id="dLT">
              <div class="paddl0">
                <div id="dispstylgn" class="paddb5 fleft">
                  <input type="checkbox" class="radiomargin" value="1" name="STAYLOGIN" id="STAYLOGIN" checked="">
                  <label class="radiolabel" for="STAYLOGIN" id="STAYLOGINLABEL">Keep me logged in</label>
                </div>
                <div class="clear" style="height:0px;">
                  <!--  -->
                </div>
                <!-- <div class="fleft paddr4 paddt4"><a href="javaScript:void(0);"
                    onclick="window.open ('https://profile.tamilmatrimony.com/login/fbloginprocess.php?oauth_provider=facebook','mywindow','menubar=0,resizable=1,location=0, width=450, height=250')"><img
                      src="https://imgs.tamilmatrimony.com/bmimgs/bm-fb-login-button.gif" height="22" width="120"
                      border="0" alt="Login"></a></div> -->
                <div class="boldtxt fleft paddl15 paddt8">or</div>
                <div class="fright "><input type="submit" value="Login" class="button small" tabindex="3"
                    onclick="return topnavlogincheck();"></div><br clear="all">
              </div>
              <!-- <div class="paddt10 fright"><a onclick="forgotpasswd('tnfpwd');" href="javascript:void(0);"
                  id="tnfpwd">Forgot password?</a> |<a href="javascript:void(0);" onclick="otplogin('popotp');"
                  id="poppwd" style="margin-left:7px;">Login Via OTP</a></div><br clear="all">
            </div><br clear="all">
            <div class="clear" style="height:0px;"> -->
              <!--  -->
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

  
  
  <section class="bg-parallax parallax-window">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      
      <!-- planner-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
        <div class="planner-block">
          <form [formGroup]="searchForm" (submit)="submitForm()" class="form-planner form-horizontal">
            <!-- <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Check in</label>
                  <input formControlName="startDate" class="form-control __plannerInput" id="datetimepicker1"
                    type="date"
                    placeholder="10-05-2015" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Check out</label>
                  <input formControlName="endDate" class="form-control __plannerInput" id="datetimepicker2"
                    type="date"
                    placeholder="17-05-2015" />
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Gender: </label>
                  <div class="theme-select">
                    <select formControlName="searchGender" class="form-control __plannerSelect">
                      <option value="">--Select Gender--</option>
                      <option value="Female">Girls</option>
                      <option value="Male">Boys</option>
                    </select>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Language: </label>
                  <div class="theme-select">
                    <select formControlName="searchLanguage" class="form-control __plannerSelect">
                      <option value="">--Select Language--</option>
                      <option value="Telugu">Telugu</option>
                      <option value="Tamil">Tamil</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- <div class="focol-lg-12 col-md-12 col-sm-12 col-xs-12rm-group"> -->
                  <label>Caste: </label>
                  <div class="theme-select">
                    <select formControlName="searchCaste" class="form-control __plannerSelect">
                      <option value="Telugu Devangar">Telugu Devanga Chettiar</option>
                      <option value="">Vanniya Chettiar</option>
                      <option value="">24 Manai Chettiar</option>
                      <option value="">Vellan Chettiar</option>
                      <option value="">Kongu Chettiar</option>
                    </select>
                  </div>
                </div>
              </div>
            <br/>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="">
                  <label>Age</label><br/>
                  <!-- <div class="theme-select"> -->
                    <!-- <span><b style="color:white">From</b>
                    <select formControlName="adults" class="">
                      <option value="">25</option>
                      <option value="">26</option>
                      <option value="">27</option>
                      <option value="">28</option>
                      <option value="">29</option>
                    </select>
                    <b style="color:white">To</b>
                    <select formControlName="adults" class="">
                      <option value="">25</option>
                      <option value="">26</option>
                      <option value="">27</option>
                      <option value="">28</option>
                      <option value="">29</option>
                    </select>
                    </span> -->
                    <div>
                      <select formControlName="searchFromAge" name="STAGE" id="STAGE" style="width:60px;" class="optiondiv" size="1">
                        <!-- onblur="validateAge(this.form,'ageerr');" -->
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                      </select>
                      <span style="color:white">&nbsp;to&nbsp;</span>
                      <select formControlName="searchToAge" name="ENDAGE" id="ENDAGE" style="width:60px;"
                        class="optiondiv" size="1">
                        <!-- onblur="validateAge(this.form,'ageerr');" -->
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40" selected="selected">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                      </select>
                      <span style="color:white">&nbsp;Years</span>
                      <span id="ageerr" class="errortext" style="display: none;">&nbsp;</span></div>
                  <!-- </div> -->
                </div>
              </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <label>Height</label><br/>
                    <!-- <div class="theme-select"> -->
                    <dd>
                      <select formControlName="searchFromHeight" style="width:100px;"
                       id="STHEIGHT" style="width:100px;" class="optiondiv" size="1" name="STHEIGHT">
                       <!-- onblur="validateHeight(this.form,'heighterr');gatrack=gatrack+'~'+$(this).attr('id');" -->
                        <option value="121">4ft - 121 cm</option>
                        <option value="124">4ft 1in - 124cm</option>
                        <option value="127">4ft 2in - 127cm</option>
                        <option value="129">4ft 3in - 129cm</option>
                        <option value="132">4ft 4in - 132cm</option>
                        <option value="134">4ft 5in - 134cm</option>
                        <option value="137">4ft 6in - 137cm</option>
                        <option value="139">4ft 7in - 139cm</option>
                        <option value="142">4ft 8in - 142cm</option>
                        <option value="144">4ft 9in - 144cm</option>
                        <option value="147">4ft 10in - 147cm</option>
                        <option value="149">4ft 11in - 149cm</option>
                        <option value="152">5ft - 152cm</option>
                        <option value="154">5ft 1in - 154cm</option>
                        <option value="157">5ft 2in - 157cm</option>
                        <option value="160">5ft 3in - 160cm</option>
                        <option value="162">5ft 4in - 162cm</option>
                        <option value="165">5ft 5in - 165cm</option>
                        <option value="167">5ft 6in - 167cm</option>
                        <option value="170">5ft 7in - 170cm</option>
                        <option value="172">5ft 8in - 172cm</option>
                        <option value="175">5ft 9in - 175cm</option>
                        <option value="177">5ft 10in - 177cm</option>
                        <option value="180">5ft 11in - 180cm</option>
                        <option value="182">6ft - 182cm</option>
                        <option value="185">6ft 1in - 185cm</option>
                        <option value="187">6ft 2in - 187cm</option>
                        <option value="190">6ft 3in - 190cm</option>
                        <option value="193">6ft 4in - 193cm</option>
                        <option value="195">6ft 5in - 195cm</option>
                        <option value="198">6ft 6in - 198cm</option>
                        <option value="200">6ft 7in - 200cm</option>
                        <option value="203">6ft 8in - 203cm</option>
                        <option value="205">6ft 9in - 205cm</option>
                        <option value="208">6ft 10in - 208cm</option>
                        <option value="210">6ft 11in - 210cm</option>
                        <option value="213">7ft - 213cm</option>
                      </select><span style="color:white">&nbsp;to&nbsp;</span>
                      <select formControlName="searchToHeight" style="width:100px;" style="width:100px;" class="optiondiv" size="1" id="ENDHEIGHT" name="ENDHEIGHT">
                        <!-- onblur="validateHeight(this.form,'heighterr');gatrack=gatrack+'~'+$(this).attr('id');" -->
                        <option value="121">4ft - 121 cm</option>
                        <option value="124">4ft 1in - 124cm</option>
                        <option value="127">4ft 2in - 127cm</option>
                        <option value="129">4ft 3in - 129cm</option>
                        <option value="132">4ft 4in - 132cm</option>
                        <option value="134">4ft 5in - 134cm</option>
                        <option value="137">4ft 6in - 137cm</option>
                        <option value="139">4ft 7in - 139cm</option>
                        <option value="142">4ft 8in - 142cm</option>
                        <option value="144">4ft 9in - 144cm</option>
                        <option value="147">4ft 10in - 147cm</option>
                        <option value="149">4ft 11in - 149cm</option>
                        <option value="152">5ft - 152cm</option>
                        <option value="154">5ft 1in - 154cm</option>
                        <option value="157">5ft 2in - 157cm</option>
                        <option value="160">5ft 3in - 160cm</option>
                        <option value="162">5ft 4in - 162cm</option>
                        <option value="165">5ft 5in - 165cm</option>
                        <option value="167">5ft 6in - 167cm</option>
                        <option value="170">5ft 7in - 170cm</option>
                        <option value="172">5ft 8in - 172cm</option>
                        <option value="175">5ft 9in - 175cm</option>
                        <option value="177">5ft 10in - 177cm</option>
                        <option value="180">5ft 11in - 180cm</option>
                        <option value="182">6ft - 182cm</option>
                        <option value="185">6ft 1in - 185cm</option>
                        <option value="187">6ft 2in - 187cm</option>
                        <option value="190">6ft 3in - 190cm</option>
                        <option value="193">6ft 4in - 193cm</option>
                        <option value="195">6ft 5in - 195cm</option>
                        <option value="198">6ft 6in - 198cm</option>
                        <option value="200">6ft 7in - 200cm</option>
                        <option value="203">6ft 8in - 203cm</option>
                        <option value="205">6ft 9in - 205cm</option>
                        <option value="208">6ft 10in - 208cm</option>
                        <option value="210">6ft 11in - 210cm</option>
                        <option value="213" selected="">7ft - 213cm</option>
                      </select>
                      <br><span id="heighterr" class="errortext" style="display: none;"></span>
                    </dd>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            <!-- <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Enter your email</label>
                  <input formControlName="email" type="email" class="form-control" placeholder="E-mail" />
                  <span style="color:white" *ngIf="!bookingForm.get('email').valid"></span>
                </div>
              </div>
            </div> -->
            
            <!-- <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Location:</label>
                  <div id="slider-range"></div>
                  <div id="amount"><span id="amount1"></span><span id="amount2"></span></div>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="planner-check-availability">
                  <!-- <a href="" class="btn btn-default">Check availability</a> formControlName="searchFromAge"  -->
                  <button type="submit" class="btn btn-default">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /planner-->
    </div>
  </div>
</section>


<!-- Card component -->


<section class="best-room">
  <div class="container">
    <div class="title-main">
      <h2 class="h2">Best Matches<span class="title-secondary"></span></h2>
    </div>
    <div class="best-room-carousel">
      <ul class="row best-room_ul">
        <li *ngFor="let roomData of room" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
          <div class="best-room_img">
            <a href="#"><img style="width:350px;height:250px" src='./assets/images/{{roomData.ImagePath}}' alt="" /></a>
            <div class="best-room_overlay">
              <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
            </div>
          </div>
          <div class="best-room-info">
            <div class="best-room_t"><a [routerLink]="['/hotel',roomData.Id]">
              <span><b>Name:</b></span>{{roomData.Name}}</a></div>
            <div class="best-room_desc"><span><b>Age:</b></span>{{roomData.Age}}
            </div>
            <div class="best-room_price">
              <span><b>Raasi: </b>{{roomData.Zodiac}}</span><br />
              <span><b>Natchatiram: </b>{{roomData.Star}}</span><br />
              <span><b>Caste: </b>{{roomData.Caste}}</span><br />
              <span><b>Gothram: </b>{{roomData.Gothram}}</span>
            </div>
          </div>
        </li>        
      </ul>
    </div>
  </div>
</section>
