<!-- booking component -->

<br />
<br />
  <div class="">
    <button mat-raised-button color="accent" (click)="searchButtonClick()">{{searchText}} Search Dialog</button>

  </div>
  <br/>
  <section id="searchDiv" [style]="showToggleDesc" class="bg-parallax parallax-window">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      
      <!-- planner-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
        <div class="planner-block">
          <form [formGroup]="searchForm" (submit)="submitForm()" class="form-planner form-horizontal">
            <!-- <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Check in</label>
                  <input formControlName="startDate" class="form-control __plannerInput" id="datetimepicker1"
                    type="date"
                    placeholder="10-05-2015" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Check out</label>
                  <input formControlName="endDate" class="form-control __plannerInput" id="datetimepicker2"
                    type="date"
                    placeholder="17-05-2015" />
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Gender: </label>
                  <div class="">
                    <mat-form-field>
                    <mat-select formControlName="searchGender" class="form-control __plannerSelect">
                      <mat-option value="">--Select Gender--</mat-option>
                      <mat-option value="Female">Girls</mat-option>
                      <mat-option value="Male">Boys</mat-option>
                    </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Language: </label>
                  <div class="">
                    <mat-form-field>
                    <mat-select formControlName="searchLanguage" class="form-control __plannerSelect">
                      <mat-option value="">--Select Language--</mat-option>
                      <mat-option value="Telugu">Telugu</mat-option>
                      <mat-option value="Tamil">Tamil</mat-option>
                      <mat-option value="Others">Others</mat-option>
                    </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- <div class="focol-lg-12 col-md-12 col-sm-12 col-xs-12rm-group"> -->
                  <label>Caste: </label>
                  <div class="">
                    <mat-form-field>
                    <mat-select formControlName="searchCaste">
                      <mat-option value="Telugu Devangar">Telugu Devanga Chettiar</mat-option>
                      <mat-option value="">Vanniya Chettiar</mat-option>
                      <mat-option value="">24 Manai Chettiar</mat-option>
                      <mat-option value="">Vellan Chettiar</mat-option>
                      <mat-option value="">Kongu Chettiar</mat-option>
                    </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            <br/>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="">
                  <label>Age</label><br/>
                  <!-- <div class="theme-select"> -->
                    <!-- <span><b style="color:white">From</b>
                    <select formControlName="adults" class="">
                      <mat-option value="">25</mat-option>
                      <mat-option value="">26</mat-option>
                      <mat-option value="">27</mat-option>
                      <mat-option value="">28</mat-option>
                      <mat-option value="">29</mat-option>
                    </select>
                    <b style="color:white">To</b>
                    <select formControlName="adults" class="">
                      <mat-option value="">25</mat-option>
                      <mat-option value="">26</mat-option>
                      <mat-option value="">27</mat-option>
                      <mat-option value="">28</mat-option>
                      <mat-option value="">29</mat-option>
                    </select>
                    </span> -->
                    <div>
                      <mat-form-field style="width:35px !important">
                      <mat-select formControlName="searchFromAge" style="width:35px" name="STAGE" id="STAGE" class="optiondiv" size="1">
                        <!-- onblur="validateAge(this.form,'ageerr');" -->
                        <mat-option value="21">21</mat-option>
                        <mat-option value="22">22</mat-option>
                        <mat-option value="23">23</mat-option>
                        <mat-option value="24">24</mat-option>
                        <mat-option value="25">25</mat-option>
                        <mat-option value="26">26</mat-option>
                        <mat-option value="27">27</mat-option>
                        <mat-option value="28">28</mat-option>
                        <mat-option value="29">29</mat-option>
                        <mat-option value="30">30</mat-option>
                        <mat-option value="31">31</mat-option>
                        <mat-option value="32">32</mat-option>
                        <mat-option value="33">33</mat-option>
                        <mat-option value="34">34</mat-option>
                        <mat-option value="35">35</mat-option>
                        <mat-option value="36">36</mat-option>
                        <mat-option value="37">37</mat-option>
                        <mat-option value="38">38</mat-option>
                        <mat-option value="39">39</mat-option>
                        <mat-option value="40">40</mat-option>
                        <mat-option value="41">41</mat-option>
                        <mat-option value="42">42</mat-option>
                        <mat-option value="43">43</mat-option>
                        <mat-option value="44">44</mat-option>
                        <mat-option value="45">45</mat-option>
                        <mat-option value="46">46</mat-option>
                        <mat-option value="47">47</mat-option>
                        <mat-option value="48">48</mat-option>
                        <mat-option value="49">49</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="51">51</mat-option>
                        <mat-option value="52">52</mat-option>
                        <mat-option value="53">53</mat-option>
                        <mat-option value="54">54</mat-option>
                        <mat-option value="55">55</mat-option>
                        <mat-option value="56">56</mat-option>
                        <mat-option value="57">57</mat-option>
                        <mat-option value="58">58</mat-option>
                        <mat-option value="59">59</mat-option>
                        <mat-option value="60">60</mat-option>
                        <mat-option value="61">61</mat-option>
                        <mat-option value="62">62</mat-option>
                        <mat-option value="63">63</mat-option>
                        <mat-option value="64">64</mat-option>
                        <mat-option value="65">65</mat-option>
                        <mat-option value="66">66</mat-option>
                        <mat-option value="67">67</mat-option>
                        <mat-option value="68">68</mat-option>
                        <mat-option value="69">69</mat-option>
                        <mat-option value="70">70</mat-option>
                      </mat-select>
                      </mat-form-field>
                      <span style="color:white">&nbsp;&nbsp;to&nbsp;&nbsp;</span>
                      <mat-form-field style="width:35px !important">
                      <mat-select formControlName="searchToAge" name="ENDAGE" id="ENDAGE" style="width:35px" 
                        class="optiondiv" size="1">
                        <!-- onblur="validateAge(this.form,'ageerr');" -->
                        <mat-option value="18">18</mat-option>
                        <mat-option value="19">19</mat-option>
                        <mat-option value="20">20</mat-option>
                        <mat-option value="21">21</mat-option>
                        <mat-option value="22">22</mat-option>
                        <mat-option value="23">23</mat-option>
                        <mat-option value="24">24</mat-option>
                        <mat-option value="25">25</mat-option>
                        <mat-option value="26">26</mat-option>
                        <mat-option value="27">27</mat-option>
                        <mat-option value="28">28</mat-option>
                        <mat-option value="29">29</mat-option>
                        <mat-option value="30">30</mat-option>
                        <mat-option value="31">31</mat-option>
                        <mat-option value="32">32</mat-option>
                        <mat-option value="33">33</mat-option>
                        <mat-option value="34">34</mat-option>
                        <mat-option value="35">35</mat-option>
                        <mat-option value="36">36</mat-option>
                        <mat-option value="37">37</mat-option>
                        <mat-option value="38">38</mat-option>
                        <mat-option value="39">39</mat-option>
                        <mat-option value="40" selected="selected">40</mat-option>
                        <mat-option value="41">41</mat-option>
                        <mat-option value="42">42</mat-option>
                        <mat-option value="43">43</mat-option>
                        <mat-option value="44">44</mat-option>
                        <mat-option value="45">45</mat-option>
                        <mat-option value="46">46</mat-option>
                        <mat-option value="47">47</mat-option>
                        <mat-option value="48">48</mat-option>
                        <mat-option value="49">49</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="51">51</mat-option>
                        <mat-option value="52">52</mat-option>
                        <mat-option value="53">53</mat-option>
                        <mat-option value="54">54</mat-option>
                        <mat-option value="55">55</mat-option>
                        <mat-option value="56">56</mat-option>
                        <mat-option value="57">57</mat-option>
                        <mat-option value="58">58</mat-option>
                        <mat-option value="59">59</mat-option>
                        <mat-option value="60">60</mat-option>
                        <mat-option value="61">61</mat-option>
                        <mat-option value="62">62</mat-option>
                        <mat-option value="63">63</mat-option>
                        <mat-option value="64">64</mat-option>
                        <mat-option value="65">65</mat-option>
                        <mat-option value="66">66</mat-option>
                        <mat-option value="67">67</mat-option>
                        <mat-option value="68">68</mat-option>
                        <mat-option value="69">69</mat-option>
                        <mat-option value="70">70</mat-option>
                      </mat-select>
                      </mat-form-field>
                      <span style="color:white">&nbsp;Years</span>
                      <span id="ageerr" class="errortext" style="display: none;">&nbsp;</span></div>
                  <!-- </div> -->
                </div>
              </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <label>Height</label><br/>
                    <!-- <div class="theme-select"> -->
                    <dd>
                      <mat-form-field style="width:120px !important">
                      <mat-select formControlName="searchFromHeight" 
                       id="STHEIGHT" style="width:120px;" class="optiondiv" size="1" name="STHEIGHT">
                       <!-- onblur="validateHeight(this.form,'heighterr');gatrack=gatrack+'~'+$(this).attr('id');" -->
                        <mat-option value="121">4ft - 121 cm</mat-option>
                        <mat-option value="124">4ft 1in - 124cm</mat-option>
                        <mat-option value="127">4ft 2in - 127cm</mat-option>
                        <mat-option value="129">4ft 3in - 129cm</mat-option>
                        <mat-option value="132">4ft 4in - 132cm</mat-option>
                        <mat-option value="134">4ft 5in - 134cm</mat-option>
                        <mat-option value="137">4ft 6in - 137cm</mat-option>
                        <mat-option value="139">4ft 7in - 139cm</mat-option>
                        <mat-option value="142">4ft 8in - 142cm</mat-option>
                        <mat-option value="144">4ft 9in - 144cm</mat-option>
                        <mat-option value="147">4ft 10in - 147cm</mat-option>
                        <mat-option value="149">4ft 11in - 149cm</mat-option>
                        <mat-option value="152">5ft - 152cm</mat-option>
                        <mat-option value="154">5ft 1in - 154cm</mat-option>
                        <mat-option value="157">5ft 2in - 157cm</mat-option>
                        <mat-option value="160">5ft 3in - 160cm</mat-option>
                        <mat-option value="162">5ft 4in - 162cm</mat-option>
                        <mat-option value="165">5ft 5in - 165cm</mat-option>
                        <mat-option value="167">5ft 6in - 167cm</mat-option>
                        <mat-option value="170">5ft 7in - 170cm</mat-option>
                        <mat-option value="172">5ft 8in - 172cm</mat-option>
                        <mat-option value="175">5ft 9in - 175cm</mat-option>
                        <mat-option value="177">5ft 10in - 177cm</mat-option>
                        <mat-option value="180">5ft 11in - 180cm</mat-option>
                        <mat-option value="182">6ft - 182cm</mat-option>
                        <mat-option value="185">6ft 1in - 185cm</mat-option>
                        <mat-option value="187">6ft 2in - 187cm</mat-option>
                        <mat-option value="190">6ft 3in - 190cm</mat-option>
                        <mat-option value="193">6ft 4in - 193cm</mat-option>
                        <mat-option value="195">6ft 5in - 195cm</mat-option>
                        <mat-option value="198">6ft 6in - 198cm</mat-option>
                        <mat-option value="200">6ft 7in - 200cm</mat-option>
                        <mat-option value="203">6ft 8in - 203cm</mat-option>
                        <mat-option value="205">6ft 9in - 205cm</mat-option>
                        <mat-option value="208">6ft 10in - 208cm</mat-option>
                        <mat-option value="210">6ft 11in - 210cm</mat-option>
                        <mat-option value="213">7ft - 213cm</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span style="color:white">&nbsp;&nbsp;to&nbsp;&nbsp;</span>
                    <mat-form-field style="width:120px !important">
                      <mat-select style="width:120px" formControlName="searchToHeight" class="optiondiv"
                        size="1" id="ENDHEIGHT" name="ENDHEIGHT">
                        <!-- onblur="validateHeight(this.form,'heighterr');gatrack=gatrack+'~'+$(this).attr('id');" -->
                        <mat-option value="121">4ft - 121 cm</mat-option>
                        <mat-option value="124">4ft 1in - 124cm</mat-option>
                        <mat-option value="127">4ft 2in - 127cm</mat-option>
                        <mat-option value="129">4ft 3in - 129cm</mat-option>
                        <mat-option value="132">4ft 4in - 132cm</mat-option>
                        <mat-option value="134">4ft 5in - 134cm</mat-option>
                        <mat-option value="137">4ft 6in - 137cm</mat-option>
                        <mat-option value="139">4ft 7in - 139cm</mat-option>
                        <mat-option value="142">4ft 8in - 142cm</mat-option>
                        <mat-option value="144">4ft 9in - 144cm</mat-option>
                        <mat-option value="147">4ft 10in - 147cm</mat-option>
                        <mat-option value="149">4ft 11in - 149cm</mat-option>
                        <mat-option value="152">5ft - 152cm</mat-option>
                        <mat-option value="154">5ft 1in - 154cm</mat-option>
                        <mat-option value="157">5ft 2in - 157cm</mat-option>
                        <mat-option value="160">5ft 3in - 160cm</mat-option>
                        <mat-option value="162">5ft 4in - 162cm</mat-option>
                        <mat-option value="165">5ft 5in - 165cm</mat-option>
                        <mat-option value="167">5ft 6in - 167cm</mat-option>
                        <mat-option value="170">5ft 7in - 170cm</mat-option>
                        <mat-option value="172">5ft 8in - 172cm</mat-option>
                        <mat-option value="175">5ft 9in - 175cm</mat-option>
                        <mat-option value="177">5ft 10in - 177cm</mat-option>
                        <mat-option value="180">5ft 11in - 180cm</mat-option>
                        <mat-option value="182">6ft - 182cm</mat-option>
                        <mat-option value="185">6ft 1in - 185cm</mat-option>
                        <mat-option value="187">6ft 2in - 187cm</mat-option>
                        <mat-option value="190">6ft 3in - 190cm</mat-option>
                        <mat-option value="193">6ft 4in - 193cm</mat-option>
                        <mat-option value="195">6ft 5in - 195cm</mat-option>
                        <mat-option value="198">6ft 6in - 198cm</mat-option>
                        <mat-option value="200">6ft 7in - 200cm</mat-option>
                        <mat-option value="203">6ft 8in - 203cm</mat-option>
                        <mat-option value="205">6ft 9in - 205cm</mat-option>
                        <mat-option value="208">6ft 10in - 208cm</mat-option>
                        <mat-option value="210">6ft 11in - 210cm</mat-option>
                        <mat-option value="213" selected="">7ft - 213cm</mat-option>
                      </mat-select>
                      </mat-form-field>
                      <br><span id="heighterr" class="errortext" style="display: none;"></span>
                    </dd>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            <!-- <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Enter your email</label>
                  <input formControlName="email" type="email" class="form-control" placeholder="E-mail" />
                  <span style="color:white" *ngIf="!bookingForm.get('email').valid"></span>
                </div>
              </div>
            </div> -->
            
            <!-- <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Location:</label>
                  <div id="slider-range"></div>
                  <div id="amount"><span id="amount1"></span><span id="amount2"></span></div>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="planner-check-availability">
                  <!-- <a href="" class="btn btn-default">Check availability</a> formControlName="searchFromAge"  -->
                  <button type="submit" class="btn btn-default">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /planner-->
    </div>
  </div>
</section>


<!-- Card component -->


<section class="best-room">
  <div class="container">
    <div class="title-main">
      <h2 class="h2">Best Matches<span class="title-secondary"></span></h2>
    </div>
    <div class="best-room-carousel">
      <ul class="row best-room_ul">
        <li *ngFor="let roomData of room" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
          <div class="best-room_img">
            <a href="#"><img style="width:350px;height:250px" src='./assets/images/{{roomData.ImagePath}}' alt="" /></a>
            <div class="best-room_overlay">
              <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
            </div>
          </div>
          <div class="best-room-info">
            <div class="best-room_t"><a [routerLink]="['/hotel',roomData.Id]">
              <span><b>Name:</b></span>{{roomData.Name}}</a></div>
            <div class="best-room_desc"><span><b>Age:</b></span>{{roomData.Age}}
            </div>
            <div class="best-room_price">
              <span><b>Raasi: </b>{{roomData.Zodiac}}</span><br />
              <span><b>Natchatiram: </b>{{roomData.Star}}</span><br />
              <span><b>Caste: </b>{{roomData.Caste}}</span><br />
              <span><b>Gothram: </b>{{roomData.Gothram}}</span>
            </div>
          </div>
        </li>        
      </ul>
    </div>
  </div>
</section>
