<div class="wrapper">
  <header class="header">
    <app-social-bar></app-social-bar>
    <app-menu-bar></app-menu-bar>
  </header>
  <!-- <section class="breadcrumbs" style="background-image: url(assets/images/breadcrumbs/reservation.jpg)"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 color="black" class="h1">Profile Details</h1>
      </div>
      <!-- <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">Home</a><i class="fa fa-angle-right"></i></li>
              <li class="active">Reservation</li>
            </ol>
          </div> -->
    </div>
  </div>
  <!-- </section> -->
  <section class="room-detail">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row reservation-top">
          <div class="module __reservation">
            <div class="module-block">
              <form class="form-planner form-horizontal">
                <div class="col-md-3 col-xs-12">
                  <div class="form-group">
                    <label>Check in</label>
                    <input class="form-control __plannerInput" id="datetimepicker1" type="date"
                      placeholder="10-05-2015" />
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="form-group">
                    <label>Check out</label>
                    <input class="form-control __plannerInput" id="datetimepicker2" type="date"
                      placeholder="17-05-2015" />
                  </div>
                </div>
                <div class="col-md-2 col-xs-6">
                  <div class="form-group">
                    <label>Adults</label>
                    <div class="theme-select">
                      <select class="form-control __plannerSelect">
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-xs-6">
                  <div class="form-group">
                    <label>Kids</label>
                    <div class="theme-select">
                      <select class="form-control __plannerSelect">
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-xs-12">
                  <div class="form-group">
                    <a href="wizzard-step2.html" class="btn btn-default wizzard-search-btn">Search</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
        <div class="col-lg-12 marg50">
          <h2 class="h2">{{Name}}</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="owl_gallery">
            <div class="item"><img style="width: 500px;height: 400px;" class="img-responsive" [src]="url">
              <input #imageInput type="file" accept="image/*" (change)="processFile($event)">
            </div>
            <!-- <div class="item"><img class="img-responsive" src="assets/images/gallery/2.jpg"></div>
          <div class="item"><img class="img-responsive" src="assets/images/gallery/1.jpg"></div>
          <div class="item"><img class="img-responsive" src="assets/images/gallery/4.jpg"></div>
          <div class="item"><img class="img-responsive" src="assets/images/gallery/5.jpg"></div>
          <div class="item"><img class="img-responsive" src="assets/images/gallery/6.jpg"></div>
          <div class="item"><img class="img-responsive" src="assets/images/gallery/7.jpg"></div>
          <div class="item"><img class="img-responsive" src="assets/images/gallery/8.jpg"></div> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="">
            <form [formGroup]="profileForm" (submit)="profileSubmitForm()">

              <div class="row">
                <div class="form-group">
                  <label>DOB: </label>
                  <input type="date" formControlName="DOB" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Age: </label>
                  <input type="text" readonly formControlName="Age" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Gender: </label>
                  <select formControlName="Gender" class="form-control">
                    <option value="-1">--Select Gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Height (in Cms): </label>
                  <input type="text" formControlName="HeightCms" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Weight (in Kgs): </label>
                  <input type="text" formControlName="WeightKgs" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Marital Status: </label>
                  <select formControlName="MaritalStatus" class="form-control">
                    <option value="">--Select Marital Status--</option>
                    <option value="Unmarried">Never Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Mother Tongue: </label>
                  <input type="text" formControlName="MotherTongue" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Languages Known: </label>
                  <input type="text" formControlName="LanguagesKnown" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Complexion: </label>
                  <input type="text" formControlName="Complexion" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Education: </label>
                  <input type="text" formControlName="Education" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Education Detail: </label>
                  <input type="text" formControlName="EducationDetail" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Employed In: </label>
                  <input type="text" formControlName="EmployedIn" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Occupation: </label>
                  <input type="text" formControlName="Occupation" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Occupation Detail: </label>
                  <input type="text" formControlName="OccupationDetail" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Annual Income (in numbers): </label>
                  <input type="text" formControlName="AnnualIncome" class="form-control">
                  <!-- <select formControlName="AnnualIncome" class="form-control">
      <option value="">--Select Annual Income--</option>
      <option value="lessthan50k">Less than Rs. 50 Thousand</option>
      <option value="50k">Rs. 50 Thousand</option>
      <option value="1L">Rs. 1 Lakh</option>
      <option value="10L">Rs. 10 Lakh</option>
    </select> -->
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Country: </label>
                  <input type="text" formControlName="Country" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Citizenship: </label>
                  <input type="text" formControlName="Citizenship" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>State: </label>
                  <input type="text" formControlName="State" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>City: </label>
                  <input type="text" formControlName="City" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Religion: </label>
                  <select formControlName="Religion" class="form-control">
                    <option value="">--Select Religion--</option>
                    <option value="Hindu">Hindu</option>
                    <option value="Muslim">Muslim</option>
                    <option value="Christian">Christian</option>
                    <option value="Jain">Jain</option>
                    <option value="Buddhist">Buddhist</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Caste: </label>
                  <input type="text" formControlName="Caste" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Zodiac: </label>
                  <select formControlName="Zodiac" class="form-control">
                    <option value="">--Select Zodiac--</option>
                    <option value="Aries">Aries-Mesha</option>
                    <option value="Taurus">Taurus-Vrishaba</option>
                    <option value="Gemini">Gemini-Mithuna</option>
                    <option value="Cancer">Cancer-Kataka</option>
                    <option value="Leo">Leo-Simha</option>
                    <option value="Virgo">Virgo-Kanya</option>
                    <option value="Libra">Libra-Thula</option>
                    <option value="Scorpio">Scorpio-Vrischika</option>
                    <option value="Sagittarius">Sagittarius-Dhanus</option>
                    <option value="Capricorn">Capricorn-Makara</option>
                    <option value="Aquarius">Aquarius-Kumbha</option>
                    <option value="Pisces">Pisces-Meena</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Star (Natchatiram): </label>
                  <select formControlName="Star" class="form-control">
                    <option value="">--Select Star--</option>
                    <option value="Ashwini">Ashwini</option>
                    <option value="Bharani">Bharani</option>
                    <option value="Karthigai">Karthigai</option>
                    <option value="Rohini">Rohini</option>
                    <option value="Mirigasirisham">Mirigasirisham</option>
                    <option value="Thiruvathirai">Thiruvathirai</option>
                    <option value="Punarpoosam">Punarpoosam</option>
                    <option value="Poosam">Poosam</option>
                    <option value="Ayilyam">Ayilyam</option>
                    <option value="Makam">Makam</option>
                    <option value="Pooram">Pooram</option>
                    <option value="Uthiram">Uthiram</option>
                    <option value="Hastham">Hastham</option>
                    <option value="Chithirai">Chithirai</option>
                    <option value="Swathi">Swathi</option>
                    <option value="Visakam">Visakam</option>
                    <option value="Anusham">Anusham</option>
                    <option value="Kettai">Kettai</option>
                    <option value="Moolam">Moolam</option>
                    <option value="Pooradam">Pooradam</option>
                    <option value="Uthradam">Uthradam</option>
                    <option value="Thiruvonam">Thiruvonam</option>
                    <option value="Avittam">Avittam</option>
                    <option value="Sadhayam">Sadhayam</option>
                    <option value="Puratathi">Puratathi</option>
                    <option value="Uthirattathi">Uthirattathi</option>
                    <option value="Thiruvonam">Thiruvonam</option>
                    <option value="Aquarius">Avittam</option>
                    <option value="Revathi">Revathi</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Gothram: </label>
                  <input type="text" formControlName="Gothram" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Mobile: </label>
                  <input type="text" formControlName="Mobile" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Email: </label>
                  <input type="text" readonly value="{{Email}}" formControlName="Email" class="form-control">
                </div>
              </div>
              <br>
              <br>

              <div class="row">
                <button type="submit" *ngIf="!serviceData" class="btn btn-default">Save</button>
                <button type="submit" *ngIf="serviceData" class="btn btn-default">Update</button>
                <!-- [disabled]="profileForm.valid" -->
              </div>

            </form>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6">
          <div class="room-detail_overview">
            <table class="simple">
              <tr>
                <td><strong>DOB:</strong></td>
                <td><span>
                    <input type="text"/>
                </span></td>
              </tr>
              <tr>
                <td><strong>Age:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Gender:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Height:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Weight:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Marital Status:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Mother Tongue:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Languages Known:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Complexion:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Education :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Education Detail :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Employed in :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Occupation :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Occupation Detail:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Annual Income :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Country :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Citizenship :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>State :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>City :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Religion :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Caste :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Zodiac:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Natchatiram:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Gothram:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Mobile:</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
              <tr>
                <td><strong>Email :</strong></td>
                <td><span><input type="text" /></span></td>
              </tr>
            </table>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
